# Python virtual environments
.venv/
venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd
.Python

# Environment variables
.env

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter
.ipynb_checkpoints/

# dbt
target/
dbt_packages/
logs/
